@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-light: #f2f2f2;
  --inputs-border: #e0e0e0;
  --button-color: #302581;
  --text-color:#4f4f4f;
  --text-color2:#828282;
  --text-dark: #4f4f4f;
  --background:#fcfcfc;
}



body {
  overflow-x: hidden;
  color: rgb(var(--background));
  background: var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
